# Dependencies
node_modules
**/node_modules

# Build outputs
dist
build

# Development
.git
.gitignore
.env
.env.*
*.log

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Editor directories
.idea
.vscode
*.swp
*.swo

# System Files
.DS_Store
Thumbs.db